.idea
.venv
/.idea
/KsdNaverOCRServer/result/*
/ocr-server.db
/.env
/ocr-domain.json
.vscode
.python-version
.DS_Store
__pycache__/
*.pyc
general-ocr-domain.json
ocr-domain_test_22_03_26_v2.json
/KsdNaverOCRServer/tests/resource/ocr_image_list_in_s3.py
KsdNaverOCRServer/tests/resource/ivory_sample_22_03_26_v2.json
